---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/layouts/Header.astro";
import Hero from "../components/sections/Hero.astro";
import Reto from "../components/sections/Reto.astro";
import Demo from "../components/sections/Demo.astro";
import Arquitectura from "../components/sections/Arquitectura.astro";
import Problema from "../components/sections/Problema.astro";
import Prototipo from "../components/sections/Prototipo.astro";
---

<MainLayout>
  <Header />
  <main>
    <Hero />
    <Problema />
    <Arquitectura />
    <Prototipo />
    <Demo />
    <Reto />
    <!-- Próximamente:
    <TechHighlights />
    -->
  </main>
</MainLayout>
